@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form action="@Url.Action("LogOff","Account")" method="post" role="form" style="display:inline;">
        <div id="header-top-second">
            <div class="header-top-dropdown text-right">
                <div class="btn-group">
                    <a href="@Url.Action("Manage","Account")" class="btn btn-default btn-sm mr-10"><i class="fa fa-user mr-10"></i> 계정관리</a>
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-power-off mr-10"></i> 로그아웃</button>
            </div>
        </div>
    </form>
}
else
{
    <div id="header-top-second" class="clearfix">
        <div class="header-top-dropdown text-right">
            <div class="btn-group">
                <a href="@Url.Action("Register","Account")" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Up</a>
            </div>
            <div class="btn-group">
                <a href="@Url.Action("Login","Account")" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign In</a>
            </div>
        </div>
    </div>
}
